* {
  margin: 0;
  padding: 0;
  box-shadow: none;
}

.pay-container {
  margin: 20px 100px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  padding: 20px;

  .pay-title {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 8px;
    height: 37px;
    padding: 8px 20px;
    border: 1px solid #e6e6e6;

    h3 {
      color: #333;
      font-weight: 600;
      font-size: 18px;
    }
  }

  .pay-text-container {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    max-width: 370px;
    gap: 10px;

    .pay-text {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        color: #333;
        font-size: 14px;
        font-weight: 600;
      }

      button {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 4px 8px;
        border: 1px solid #f27a1a;
        background: transparent;
        color: #f27a1a;
        border-radius: 8px;
        font-size: 12px;
        font-weight: 500;
      }
    }

    .add-cart-selectors {
      border-radius: 8px;
      border: 1px solid #f27a1a;
      width: 335px;
      padding: 14px 17px;
      .add-cart-selector {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        color: #333;
        img {
          max-width: 80px;
        }
        p {
          width: 335px;
          border: none;
          outline: none;
        }
        i {
          color: #f27a1a;
          font-size: 10px;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .pay-container {
    .pay-title {
      height: 32px;
      padding: 5px 20px;

      h3 {
        font-size: 16px;
      }
    }

    .pay-text-container {
      .add-cart-selectors {
        padding: 12px 17px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .pay-container {
    margin: 20px 80px;
    .pay-title {
      height: 30px;
    }

    .pay-text-container {
      .add-cart-selectors {
        p {
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .pay-container {
    margin: 20px 50px;
    .pay-title {
      h3 {
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 800px) {
  .pay-container {
    margin: 20px 10px;
    padding: 14px;
    .pay-title {
      padding: 6px 20px;
      h3 {
        font-size: 14px;
      }
    }
  }
}
