.add-cart-item {
  display: flex;
  border-radius: 8px;
  background-color: #fef4eb;
  border: 1px solid #f27a1a;
  padding: 18px;
  gap: 10px;
  width: 92%;
  .cart-item {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    img {
      max-width: 80px;
    }
    .add-cart-selector {
      display: flex;
      gap: 10px;
      p {
        border: none;
        outline: none;
      }
    }
  }
  i {
    margin-top: 10px;
    color: #f27a1a;
    margin-left: auto;
    cursor: pointer;
  }
}
